@border-color: rgb(135 135 135);
@cells-width : 90px;

.component-container {
    .title {
        text-align: center;
    }

    .calendar-container {
        margin         : 20px auto;
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: left;
        width          : 650px;

        .day-name-container {
            border: 1px solid @border-color;
            width : @cells-width;
            height: 18px;
            color : #FFF;
            ;
            background-color: rgb(47 117 179);
            text-align      : center;
        }

        .day-container {
            border  : 1px solid @border-color;
            width   : @cells-width;
            height  : 70px;
            overflow: hidden;


        }

        :nth-child(7n) {
            border-right: none;
        }

        :nth-child(1n +7) {
            border-left: none;
        }
    }
}