<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Add new Reminder</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="reminder-form-container">
            <form #form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="FormGrp">
                <mat-form-field class="form-field">
                    <mat-label>Reminder Title</mat-label>
                    <input matInput formControlName="titleCtrl" name="title" maxlength="30"
                        placeholder="Title for the reminder">
                </mat-form-field>
                <mat-form-field appearance="fill" class="datepicker">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateCtrl">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>HH</mat-label>
                    <mat-select formControlName="hoursCtrl">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>MM</mat-label>
                    <mat-select formControlName="minutesCtrl">
                        <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput formControlName="colorInput" [(colorPicker)]="color" [style.background]="color"
                        placeholder="Select color" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Country</mat-label>
                    <input type="text" placeholder="Type to search" matInput formControlName="countriesCtrl"
                        [matAutocomplete]="autoCountries">
                    <mat-autocomplete autoActiveFirstOption #autoCountries="matAutocomplete">
                        <mat-option *ngFor="let option of filteredCountries | async" [value]="option.countryCode">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input type="text" placeholder="Type to search" matInput formControlName="citiesCtrl"
                        [matAutocomplete]="autoCities">
                    <mat-autocomplete autoActiveFirstOption #autoCities="matAutocomplete">
                        <mat-option (click)="queryWeather(option)" *ngFor="let option of filteredCities | async"
                            [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="weather-viewer" *ngIf="cityWeather != undefined">
            <div>
                <div class="mat-title weather-section-title">Weather </div>
                <div class="main-title mat-body-1"><span class="mat-body-2">Main: </span>{{cityWeather.main}}</div>
                <div class="description mat-caption">{{cityWeather.description}}</div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button [color]="warn" *ngIf="data" (click)="deleteReminder()" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button [disabled]="!form.valid" (click)="addReminder()">{{data != undefined? 'UPDATE':  'ADD'}}</button>
        <button mat-button (click)="dialogRef.close()">CANCEL</button>
    </mat-card-actions>
</mat-card>