<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Add new Reminder</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" [formGroup]="FormGrp">
            <mat-form-field class="example-full-width">
                <mat-label>Reminder Title</mat-label>
                <input formControlName="titleCtrl" name="title" matInput placeholder="Title for the reminder">
            </mat-form-field>
             <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateCtrl">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="time-picker">
                <mat-form-field appearance="fill">
                    <mat-label>HH</mat-label>
                    <mat-select formControlName="hoursCtrl">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>MM</mat-label>
                    <mat-select  formControlName="minutesCtrl">
                        <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!--<mat-form-field appearance="fill">
                <input matInput [(colorPicker)]="color" [style.background]="color" placeholder="Select color" />
            </mat-form-field> -->
        </form>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button  [disabled]="!form.valid" (click)="addReminder()">ADD</button>
        <button mat-button (click)="dialogRef.close()">CANCEL</button>
    </mat-card-actions>
</mat-card>